<GridLayout height="60" verticalAlignment="bottom">
    <GridLayout columns="*, *, *, *, *" height="60" backgroundColor="#0D0D12">
        <GridLayout #tabHighlight col="0" backgroundColor="#429ef4"></GridLayout>
        <GridLayout col="0" (tap)="selectTab(0)">
            <Image #image1 src="~/assets/info.png" height="25" width="25"></Image>
        </GridLayout>
        <GridLayout col="1" (tap)="selectTab(1)">
            <Image #image2 src="~/assets/navi.png" height="25" width="25"></Image>
        </GridLayout>
        <GridLayout col="2" (tap)="selectTab(2)">
            <Image #image3 src="~/assets/window.png" height="25" width="25"></Image>
        </GridLayout>
        <GridLayout col="3" (tap)="selectTab(3)">
            <Image #image4 src="~/assets/mirror.png" height="25" width="25"></Image>
        </GridLayout>
        <GridLayout col="4" (tap)="selectTab(4)">
            <Image #image5 src="~/assets/warning_inv.png" height="25" width="25"></Image>
        </GridLayout>
    </GridLayout>

</GridLayout>