<ActionBar title="Bottombar" visibility="collapsed">
</ActionBar>

<GridLayout rows="*, auto, auto, * , 150, 80"  id="backgroundLayout" *ngIf="!isSocketConnected">
    <ActivityIndicator row="2" #activityIndicator busy="true" width="100" height="100" class="activity-indicator" *ngIf="isConnecting"></ActivityIndicator>
    <Button row="1" id="skip" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="Skip" (tap)="onTap($event)" *ngIf="!isConnecting"></Button>
    <Button row="2" id="reconnect" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="Reconnect" (tap)="onTap($event)" *ngIf="!isConnecting"></Button>            

    <Image row="4" src="~/assets/sidecar.png"></Image>
    <Label row="5" horizontalAlignment="center" letterSpacing="0.12">
            <FormattedString>
                <Span color="#fff" fontSize="20" fontWeight="normal" text="dipCAN"></Span>
                <Span color="#429ef4" fontSize="35" fontWeight="bold" text="/"></Span>
                <Span color="#fff" fontSize="35" fontWeight="bold" text="Connecting" ></Span>
            </FormattedString>
        </Label>
</GridLayout>


<GridLayout rows="*, auto" id="backgroundLayout" *ngIf="isSocketConnected">
    <StackLayout row="0" [ngSwitch]="pageName">
        <!-- Header Start -->
        <Label horizontalAlignment="left" padding="15 15" letterSpacing="0.12">
            <FormattedString>
                <Span color="#fff" fontSize="20" fontWeight="normal" text="dipCAN"></Span>
                <Span color="#429ef4" fontSize="35" fontWeight="bold" text="/"></Span>
                <Span color="#fff" fontSize="35" fontWeight="bold" [text]="pageName"></Span>
            </FormattedString>
        </Label>
        <!-- Header End -->

        <GridLayout rows="200, 50, *" columns="*,*" *ngSwitchCase="'LiveInfo'">
                <RadRadialGauge row="0" col="0" title="rpm" margin="10">
                        <TitleStyle tkRadialGaugeTitleStyle textColor="white" android:verticalOffset="150"></TitleStyle>
                        <RadialScale tkRadialGaugeScales minimum="0" maximum="6000" radius="0.98">
                            <ScaleStyle tkRadialScaleStyle lineThickness="0" labelsColor="white" labelsCount="7" majorTicksCount="7"
                                 minorTicksCount="1" ticksOffset="0"
                                majorTicksStrokeWidth="2" majorTicksFillColor="#429ef4" minorTicksFillColor="white"></ScaleStyle>
            
                            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="5000">
                                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="white" barWidth="0.04"></BarIndicatorStyle>
                            </RadialBarIndicator>
                    
                            <RadialBarIndicator tkRadialScaleIndicators minimum="5001" maximum="6000">
                                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgb(198, 85, 90)" barWidth="0.04"></BarIndicatorStyle>
                            </RadialBarIndicator>
                
                            <RadialNeedle #needle tkRadialScaleIndicators [value]="rpmValue" isAnimated="true" animationDuration="500">
                                <NeedleStyle tkRadialNeedleStyle circleFillColor="#429ef4" fillColor="white" length="0.8" android:topWidth="8" android:bottomWidth="8" ios:topWidth="2" ios:bottomWidth="2"></NeedleStyle>
                            </RadialNeedle>
                        </RadialScale>
                    </RadRadialGauge>

                    <RadRadialGauge row="0" col="1" title="km/h" margin="10">
                            <TitleStyle tkRadialGaugeTitleStyle textColor="white" android:verticalOffset="150"></TitleStyle>
                            <RadialScale tkRadialGaugeScales minimum="0" maximum="240" radius="0.98">
                                <ScaleStyle tkRadialScaleStyle lineThickness="0" labelsColor="white" labelsCount="13" majorTicksCount="13"
                                     minorTicksCount="1" ticksOffset="0"
                                    majorTicksStrokeWidth="2" majorTicksFillColor="#429ef4" minorTicksFillColor="white"></ScaleStyle>
                
                                <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="200">
                                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="white" barWidth="0.04"></BarIndicatorStyle>
                                </RadialBarIndicator>
                        
                                <RadialBarIndicator tkRadialScaleIndicators minimum="201" maximum="240">
                                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgb(198, 85, 90)" barWidth="0.04"></BarIndicatorStyle>
                                </RadialBarIndicator>
                    
                                <RadialNeedle #needle tkRadialScaleIndicators [value]="speedValue" isAnimated="true" animationDuration="500">
                                    <NeedleStyle tkRadialNeedleStyle circleFillColor="#429ef4" fillColor="white" length="0.8" android:topWidth="8" android:bottomWidth="8" ios:topWidth="2" ios:bottomWidth="2"></NeedleStyle>
                                </RadialNeedle>
                            </RadialScale>
                        </RadRadialGauge>


                    <GridLayout row="1" col="0" colspan="2" rows="*" columns="*, *, *, *, *, *">
                        <Image *ngIf="infoIconArray[0]" col="0" src="~/assets/info_left.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[1]" col="1" src="~/assets/info_clutch.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[2]" col="2" src="~/assets/info_brake.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[3]" col="3" src="~/assets/info_handbrake.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[4]" col="4" src="~/assets/info_auto.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[5]" col="4" src="~/assets/info_parking.png" height="40" width="40"></Image>
                        <Image *ngIf="infoIconArray[6]" col="4" src="~/assets/info_lowbeam.png" height="40" width="40"></Image>                        
                        <Image *ngIf="infoIconArray[7]" col="5" src="~/assets/info_right.png" height="40" width="40"></Image>                        
                    </GridLayout>>


                    <StackLayout row="2" col="0" colspan="2" margin="0 0 60 0" padding="10 0" >
                            <ListView [items]="infoArray" (itemTap)="onItemTap($event)" class="list-group">
                                <ng-template let-info="item" let-i="index" let-odd="odd"
                                    let-even="even">
                                    <FlexboxLayout flexDirection="row" opacity="1">
                                        <GridLayout columns="10, 200, *, 10" backgroundColor="rgba(255,255,255,0)"
                                            height="50" margin="2.5 15" padding="0 0"
                                            borderRadius="10">
                                            <StackLayout row="0" col="1" verticalAlignment="center"
                                                horizontalAlignment="left" borderRadius="5">
                                                <Label fontSize="15" verticalAlignment="center"
                                                    color="#fff" [text]="info.name"></Label>
                                            </StackLayout>
                                            <StackLayout row="0" col="2" backgroundColor="rgba(0,0,0,0)"
                                                height="40" width="100%" verticalAlignment="center"
                                                horizontalAlignment="left" borderRadius="5">
                                                <Label fontSize="25" verticalAlignment="center"
                                                    horizontalAlignment="center" color="#429ef4"
                                                    [text]="info.value"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </FlexboxLayout>
                                </ng-template>
                            </ListView>
                    </StackLayout>
        </GridLayout>

        <GridLayout columns="20, *, 20, *, 20" rows="100, auto, auto, 50, auto, 50, auto, *" *ngSwitchCase="'Radio'">
            <Button row="1" col="1" id="menuPREV" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="BACK" (touch)="onTouch($event)"></Button>
            <Button row="1" col="3" id="menuNEXT" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="FORWARD" (touch)="onTouch($event)"></Button>            
            <Button row="2" col="1" id="MENU" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="SOURCE" (touch)="onTouch($event)"></Button>            
            <Button row="2" col="3" id="SEL" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="SELECT" (touch)="onTouch($event)"></Button>            

            <Button row="4" col="1" id="songPREV" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="PREV SONG" (touch)="onTouch($event)"></Button>            
            <Button row="4" col="3" id="songNEXT" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="NEXT SONG" (touch)="onTouch($event)"></Button>            

            <Button row="6" col="1" id="volDOWN" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="VOL DOWN" (touch)="onTouch($event)"></Button>
            <Button row="6" col="3" id="volUP" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="VOL UP" (touch)="onTouch($event)"></Button>
            <!--<Label text="Brightness:" left="0" top="380" color="#fff" class="h3 p-15"></Label>-->
            <!--<Slider color="#fff" id="brightness" left="100" top="400" width="200" value="10" (valueChange)="onSliderValueChanged($event)" minValue="1" maxValue="255"></Slider>-->
        </GridLayout>
        
        <GridLayout rows="150, 60, 60, 120, 60, 60, *" columns="*, 60, 200, 60, *" *ngSwitchCase="'Windows'">
            <Button id="FLWindowUp" (touch)="onTouch($event)"   row="1" col="1" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="FLWindowDown" (touch)="onTouch($event)" row="2" col="1" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>

            <Button id="FRWindowUp" (touch)="onTouch($event)"   row="1" col="3" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="FRWindowDown" (touch)="onTouch($event)" row="2" col="3" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>

            <Button id="RLWindowUp" (touch)="onTouch($event)"   row="4" col="1" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="RLWindowDown" (touch)="onTouch($event)" row="5" col="1" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>

            <Button id="RRWindowUp" (touch)="onTouch($event)"   row="4" col="3" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="RRWindowDown" (touch)="onTouch($event)" row="5" col="3" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>
            <Image  *ngIf="doorOpenArray[0]" row="1" rowspan="4" col="2" src="~/assets/carp/car1_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[0]" row="1" rowspan="4" col="2" src="~/assets/carp/car1_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[1]" row="1" rowspan="4" col="2" src="~/assets/carp/car2_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[1]" row="1" rowspan="4" col="2" src="~/assets/carp/car2_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[2]" row="1" rowspan="4" col="2" src="~/assets/carp/car3_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[2]" row="1" rowspan="4" col="2" src="~/assets/carp/car3_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[3]" row="1" rowspan="4" col="2" src="~/assets/carp/car4_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[3]" row="1" rowspan="4" col="2" src="~/assets/carp/car4_c_w.png"></Image>                
            <Image  *ngIf="isDoorsLocked" row="1" rowspan="4" col="2" src="~/assets/carp/carlocked.png"></Image>                
        </GridLayout>


        <GridLayout rows="150, 50, 50, 50, 250,*" columns="5, 50, 50, 50, *, 50, 50, 50,5" *ngSwitchCase="'Mirrors'">
            <Button id="LMirrorUp" (touch)="onTouch($event)"   row="1" col="2" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="LMirrorLeft" (touch)="onTouch($event)" row="2" col="1" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonLeft" ></Button>    
            <Button id="LMirrorRight" (touch)="onTouch($event)"   row="2" col="3" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonRight" ></Button>
            <Button id="LMirrorDown" (touch)="onTouch($event)" row="3" col="2" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>
    
            <Button id="RMirrorUp" (touch)="onTouch($event)"   row="1" col="6" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonUp" ></Button>
            <Button id="RMirrorLeft" (touch)="onTouch($event)" row="2" col="5" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonLeft" ></Button>    
            <Button id="RMirrorRight" (touch)="onTouch($event)"   row="2" col="7" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonRight" ></Button>
            <Button id="RMirrorDown" (touch)="onTouch($event)" row="3" col="6" class="ico smallbutton btn btn-outline btn-rounded-lg btn-active" [text]="buttonDown" ></Button>

            <Image  *ngIf="doorOpenArray[0]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car1_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[0]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car1_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[1]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car2_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[1]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car2_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[2]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car3_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[2]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car3_c_w.png"></Image>
            <Image  *ngIf="doorOpenArray[3]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car4_o_w.png"></Image>
            <Image  *ngIf="!doorOpenArray[3]" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/car4_c_w.png"></Image>  
            <Image  *ngIf="isDoorsLocked" row="3" rowspan="2" col="3" colspan="3" src="~/assets/carp/carlocked.png"></Image>                
        </GridLayout>  
        
        <GridLayout rows="100, 100, 100, *" columns="*" *ngSwitchCase="'Services'">
            <Button row="0" id="interiorLight" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="Lights test" (touch)="onTouch($event)"></Button>   
            <Button row="1" id="dashboardTest" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="Dashboard test" (touch)="onTouch($event)"></Button>   
            <Button row="2" id="getFaultCodes" class="menubutton btn btn-outline btn-rounded-lg btn-active" text="Read fault codes" (touch)="onTouch($event)"></Button>   

            <StackLayout row="3" margin="0 0 60 0" padding="10 0" >
                    <ListView [items]="FaultCodesArray" class="list-group">
                        <ng-template let-info="item" let-i="index" >
                            <FlexboxLayout flexDirection="row" opacity="1">
                                <GridLayout columns="10, 200, *, 10" backgroundColor="rgba(255,255,255,0)"height="50" margin="2.5 15" padding="0 0"  borderRadius="10">
                                    <StackLayout row="0" col="1" verticalAlignment="center" horizontalAlignment="left" borderRadius="5">
                                        <Label fontSize="15" verticalAlignment="center" color="#fff" [text]="info"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </FlexboxLayout>
                        </ng-template>
                    </ListView>
            </StackLayout>

        </GridLayout>

    </StackLayout>

    <BottomBar row="1" (tabSelected)="tabSelected($event)"></BottomBar>

</GridLayout>
