ListView {
    separator-color: rgba(255, 255, 255, 0.548);
}

.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

.activity-indicator {
    color: #429ef4;
}

#backgroundLayout {
    /* background-color: #26252A */
    background-image: url("~/assets/blur2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.firstSwitchStyle{
    background-color: #ffffff;
}

.ico {
    font-size: 30;
    font-family: "icomoon";
}

.menubutton{
    width: 200;
    height: 50;
}
.smallbutton{
    width: 50;
    height: 50;
}

.btn-outline {
    border-color: #429ef4;
    color: #ffffff;
}

.btn-outline:active{
    color: #ffffff;
    background-color: #429ef4;
    size: 80%;
}

.btn-rounded-lg {
    border-radius: 15;
    }